pytest-homeassistant-custom-component
hass_nabucasa # cloud component
aiohttp_cors # http component
dateparser # tests
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability