pytest-homeassistant-custom-component
hass_nabucasa # cloud component
aiohttp_cors # http component
dateparser # tests
httpx>=0.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyyaml>=5.4 # not directly required, pinned by Snyk to avoid a vulnerability